* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #fff0f5;
    color: #333;
}

header {
    background-color: #b35092;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header h1 {
    font-size: 32px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #ffd6ea;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 150px 50px;
    background-image: url("beauty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.shop {
    padding: 12px 20px;
    background-color: #b35092;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.shop:hover {
    background-color: #f5c6d6;
    color: white;
    transition: 0.3s;
}

#product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px 20px;
    background-color: #fff;
}

.product {
    background-color: #ffe4f0;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

footer {
    background-color: #b35092;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.subscribe {
    margin-bottom: 20px;
}

.subscribe input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 250px;
}

.subscribe button {
    padding: 10px 15px;
    border: none;
    background-color: #fff;
    color: #b35092;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

.subscribe button:hover {
    background-color: #ecdae1;
}

html {
    scroll-behavior: smooth;
}
